<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="EPiServerDB" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|EPiServer.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="LocalSqlServer" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|EPiServer.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Second-provider" connectionString="entryPoint=15;name=Second-provider;setting=Fake-setting;type=Shared.ContentProviders.FakedContentProvider, Shared" providerName="EPiServer.Core.ContentProvider" />
	</connectionStrings>
	<episerver>
		<contentProvider>
			<providers>
				<add
					name="First-provider"
					entryPoint="14"
					setting="Fake-setting"
					type="Shared.ContentProviders.FakedContentProvider, Shared"
				/>
			</providers>
		</contentProvider>
	</episerver>
	<episerver.framework createDatabaseSchema="true" updateDatabaseSchema="true">
		<appData basePath="App_Data" />
		<blob defaultProvider="SqlBlobProvider">
			<providers>
				<add name="SqlBlobProvider" type="EPiCode.SqlBlobProvider.SqlBlobProvider, EPiCode.SqlBlobProvider" />
			</providers>
		</blob>
		<geolocation defaultProvider="MaxMind">
			<providers>
				<add name="MaxMind" databaseFileName="[appDataPath]\GeoLiteCity.dat" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
			</providers>
		</geolocation>
		<scanAssembly forceBinFolderScan="true">
			<add assembly="EPiServer" />
			<add assembly="EPiServer.ApplicationModules" />
			<add assembly="EPiServer.Data" />
			<add assembly="EPiServer.Data.Cache" />
			<add assembly="EPiServer.Events" />
			<add assembly="EPiServer.Framework" />
			<add assembly="EPiServer.Framework.AspNet" />
			<add assembly="EPiServer.ServiceLocation.StructureMap" />
			<add assembly="RegionOrebroLan.EPiServer.Data" />
			<add assembly="RegionOrebroLan.EPiServer.Initialization" />
			<add assembly="RegionOrebroLan.EPiServer.Initialization.IntegrationTests" />
			<add assembly="Shared" />
		</scanAssembly>
		<virtualRoles addClaims="true">
			<providers>
				<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
				<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
				<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
				<add
					name="CmsAdmins"
					mode="Any"
					roles="WebAdmins, Administrators"
					type="EPiServer.Security.MappedRole, EPiServer.Framework"
				/>
				<add
					name="CmsEditors"
					mode="Any"
					roles="WebEditors"
					type="EPiServer.Security.MappedRole, EPiServer.Framework"
				/>
				<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
				<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
			</providers>
		</virtualRoles>
	</episerver.framework>
</configuration>