<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="EPiServerDB" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|EPiServer.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Second-provider" connectionString="entryPoint=7;name=Second-provider;setting=Fake-setting;type=RegionOrebroLan.EPiServer.Initialization.IntegrationTests.Business.ContentProviders.FakedContentProvider, RegionOrebroLan.EPiServer.Initialization.IntegrationTests" providerName="EPiServer.Core.ContentProvider" />
	</connectionStrings>
	<episerver>
		<contentProvider>
			<providers>
				<add
					name="First-provider"
					entryPoint="6"
					setting="Fake-setting"
					type="RegionOrebroLan.EPiServer.Initialization.IntegrationTests.Business.ContentProviders.FakedContentProvider, RegionOrebroLan.EPiServer.Initialization.IntegrationTests"
				/>
			</providers>
		</contentProvider>
	</episerver>
	<episerver.framework createDatabaseSchema="true" updateDatabaseSchema="true">
		<appData basePath="[VALUE-WILL-BE-REPLACED-ON-TEST-INITIALIZATION]" />
		<scanAssembly forceBinFolderScan="true">
			<add assembly="EPiServer" />
			<add assembly="EPiServer.ApplicationModules" />
			<add assembly="EPiServer.Cms.AspNet" />
			<add assembly="EPiServer.Cms.Shell.UI" />
			<add assembly="EPiServer.Data" />
			<add assembly="EPiServer.Enterprise" />
			<add assembly="EPiServer.Events" />
			<add assembly="EPiServer.Framework" />
			<add assembly="EPiServer.Framework.AspNet" />
			<add assembly="EPiServer.LinkAnalyzer" />
			<add assembly="EPiServer.ServiceLocation.StructureMap" />
			<add assembly="EPiServer.Shell" />
			<add assembly="EPiServer.Shell.UI" />
			<add assembly="EPiServer.UI" />
			<add assembly="RegionOrebroLan.EPiServer.Initialization" />
			<add assembly="RegionOrebroLan.EPiServer.Initialization.IntegrationTests" />
		</scanAssembly>
	</episerver.framework>
</configuration>